body {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 0;
}
div, h1, h2, p, label, ul, li {
  font-family: helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

ul li {
  list-style: none;
}

textarea {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  background-color: #FFFFFF;
  border-radius: 20px;
  color: #000000; 
  border: 2px solid #000000;
  padding: 10px 30px;
}

#submitbutton {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 20px;
  color: green; 
  border: 2px solid green;
  padding: 10px 30px;
}

#resetbutton {
  font-family: helvetica, sans-serif;
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 20px;
  color: red; 
  border: 2px solid red;
  padding: 10px 30px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
}

#display-data-Container {
  font-family: helvetica, sans-serif;
}

#display-data p {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  color: black;
}

#bigtitle {
  font-family: "Georgia", sans-serif;
  font-size: 2.5em;
}

#final {
  color: red;
}

div #treatment {
  border: 2px solid red;
  padding: 5px;
}